<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Projects</title>
  <link href="choose-project.component.css" rel="stylesheet">
</head>
<body>
<div class="portf-images">
  <div class="inner">
    <a href="https://telegra.ph/PcControl-shcho-ce-05-30" id="img2"><img src="assets/chooseProject/images/VoiceAssistant1.png" alt="Voice"></a>
    <p id="p1">ПК Контроль</p>
  </div>

  <div class="inner">
    <a href="https://telegra.ph/Jarvis-ta-PcControl-shcho-ce-05-30" id="img1"><img src="assets/chooseProject/images/PCControl1.png" alt="PC"></a>
    <p id="p2">Голосовий Асистент</p>
  </div>
</div>
<div class="descr">
  <p>ПК Контроль - це потужна система, розроблена для забезпечення ефективного контролю та управління
    вашим персональним комп'ютером. ПК контроль дозволяє вам віддалено керувати комп'ютером з будь-якого
    місця та в будь-який час.
    <br>
    <br>
    Одна з ключових переваг ПК контролю - це можливість отримати доступ до вашого комп'ютера з використанням
    будь-якого пристрою, що має підключення до Інтернету. Це означає, що ви можете керувати своїм комп'ютером
    зі свого смартфона, планшета або навіть іншого комп'ютера. Немає необхідності бути фізично присутнім біля
    комп'ютера, щоб мати повний контроль над ним.
    <br>
    <br>
    ПК контроль дозволяє вам виконувати різноманітні завдання на вашому комп'ютері. Ви можете віддалено
    запускати програми, керувати файлами і папками, переглядати та редагувати документи, надсилати електронні
    листи, відтворювати медіафайли та багато іншого. Усе це відбувається в реальному часі, забезпечуючи швидку
    та безперебійну роботу.</p>

  <p>Jaris - це інноваційний голосовий асистент, розроблений нашою командою. Він здатний виконувати різноманітні
    завдання та надавати цінну інформацію відповідно до вашої потреби.
    <br>
    <br>
    Що робить Jaris унікальним? Цей голосовий асистент використовує передові технології штучного інтелекту
    та машинного навчання, щоб забезпечити вам найкращий досвід взаємодії. Він може розпізнавати ваш голос
    та розуміти ваші команди, дозволяючи вам контролювати його функції за допомогою простого голосового вводу.
    <br>
    <br>
    Jaris - ваш надійний помічник у повсякденних справах. Він може нагадати вам про важливі події, створити
    списки завдань, знайти необхідну інформацію в Інтернеті, надати прогноз погоди, відтворити вашу улюблену
    музику та навіть керувати підключеними пристроями у вашому домі. Jaris створений, щоб зробити ваше життя
    легшим та більш організованим.
    <br>
    <br>
    Одне з ключових переваг використання Jaris - його навчання. Він може адаптуватися до вашого стилю та
    потреб, навчаючись з кожним взаємодією. Чим більше ви користуєтеся Jaris, тим краще він розумітиме ваші
    пріоритети та зможе надавати вам більш персоналізовані рекомендації та відповіді. </p>
</div>
</body>
</html>
