<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
  <title>Title</title>

  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


</head>
<body>


<section class="services" id="services">

  <div class="services-container">

    <div class="services-box">
      <i class='bx bx-code-alt'></i>
      <h3>Надсилання всіх повідомлень</h3>
      <p></p>
      <a href="#" class="btn">Отримати</a>
    </div>

    <div class="services-box">
      <i class='bx bxs-paint'></i>
      <h3>Надсилання даних користувачів</h3>
      <p></p>
      <a href="#" class="btn">Отримати</a>
    </div>

  </div>
</section>
<body>
